In [15]:
import os
os.chdir(r'E:\Python\Pandas')

In [86]:
import pandas as pd
import numpy as np

In [28]:
sale2015 = pd.read_csv('AdventureWorks_Sales_2015.csv')
sale2016 = pd.read_csv('AdventureWorks_Sales_2016.csv')
sale2017 = pd.read_csv('AdventureWorks_Sales_2017.csv')
salesData = pd.concat([sale2015,sale2016,sale2017])

In [36]:
territory = pd.read_csv('AdventureWorks_Territories.csv')
salesTerritory = pd.merge(salesData,territory, left_on = 'TerritoryKey',right_on='SalesTerritoryKey')

In [44]:
prod = pd.read_csv('AdventureWorks_Products.csv')
pcs = pd.read_csv('AdventureWorks_Product_Subcategories.csv')
pc = pd.read_csv('AdventureWorks_Product_Categories.csv')
products = pd.merge(pd.merge(prod,pcs),pc)

In [48]:
cust = pd.read_csv('AdventureWorks_Customers.csv',encoding='latin1')
customerSale = pd.merge(salesTerritory,cust)

In [90]:
output = pd.merge(products,customerSale)
output['TotalSale']=output.ProductPrice*output.OrderQuantity
output['TotalCost']=output.ProductCost*output.OrderQuantity
output['TotalProfit']=output.TotalSale-output.TotalCost
if np.where(output.OrderLineItem>output.OrderQuantity):
    output['EstimatedSale']= (output.OrderLineItem-output.OrderQuantity)*output.ProductPrice
else: output['EstimatedSale'] =0
# output.to_csv('FinalOutput2.csv')
output

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,...,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner,TotalSale,TotalCost,TotalProfit,EstimatedSale
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,...,tiffany3@adventure-works.com,"$70,000",2,High School,Professional,Y,34.99,13.0863,21.9037,34.99
1,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,...,jasmine32@adventure-works.com,"$60,000",2,Partial College,Professional,Y,34.99,13.0863,21.9037,104.97
2,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,...,clarence5@adventure-works.com,"$60,000",2,High School,Professional,N,34.99,13.0863,21.9037,34.99
3,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,...,antonio13@adventure-works.com,"$40,000",0,Bachelors,Professional,N,34.99,13.0863,21.9037,104.97
4,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,...,jason4@adventure-works.com,"$130,000",2,Bachelors,Management,Y,34.99,13.0863,21.9037,69.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56041,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,...,robin4@adventure-works.com,"$30,000",3,Bachelors,Clerical,Y,742.35,461.4448,280.9052,0.00
56042,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,...,drew10@adventure-works.com,"$100,000",3,Partial College,Management,Y,742.35,461.4448,280.9052,0.00
56043,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,...,jeffery14@adventure-works.com,"$20,000",2,Partial College,Manual,N,742.35,461.4448,280.9052,0.00
56044,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,...,tasha15@adventure-works.com,"$20,000",1,Partial College,Manual,N,742.35,461.4448,280.9052,0.00
56045,586,3,BK-T18U-50,"Touring-3000 Blue, 50",Touring-3000,All-occasion value bike with our basic comfort...,Blue,50,U,461.4448,...,ashley35@adventure-works.com,"$10,000",3,Partial College,Manual,N,742.35,461.4448,280.9052,0.00

In [71]:
hotel = pd.read_excel('TestData.xlsx')
hotel

   total_bill  tip  gender  people    type
0         2.5  1.0    Male       2   Lunch
1         3.5  2.0  Female       1  Dinner
2         2.4  1.0  Female       3  Dinner
3         1.5  1.0    Male       2   Lunch
4         2.0  2.2    Male       1  Dinner
5        10.5  2.4  Female       5  Dinner
6         3.5  1.5  Female       3   Lunch
7         6.5  1.8    Male       2  Dinner
8         4.0  1.9  Female       1   Lunch

In [94]:
hotel['final_amount']=hotel.total_bill*hotel.people+hotel.tip
hotel.to_excel('HotelFinal.xlsx')